.top .header{
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;

}

body{
    font-family: Roboto;
    font-size: 16px;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.section-a{
  background-color: #1f2937;
  
  width:100%;
}
.bottom,
.top{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 0px 40px;
}

ul{
    list-style-type: none;
    display: flex;
    gap:30px;
    justify-content: center;
}

 .section-a img{
    width: 500px;
    height: 300px;
    padding: 0 0 10px 0;

}

.section-b img{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.main{
    font-size: 48px;
    font-weight: 800;
    padding:0;
    margin:0;
    width:300px;
}
p{
    padding:0;
    margin:0;
    font-size: 16px;
    font-weight: 0;
    width: 300px;
}

.bottom-content{
    display:flexbox;
    flex-direction: column;
    gap:5px;
    justify-content: center;
}

button{
    margin:50px 0 0 0 ;
    border:2px solid rgb(236, 225, 22);
    border-radius: 2px;
    font-size: 18px;
    background-color:rgb(236, 225, 22);
}


.section-b .header{
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    padding :10px;
    margin : 10px;

}

.section-b{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.section-b .content{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.card p{
    font-size: 22px;
    font-weight: bold;
    color: #1f2937;

}

.section-c{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    margin: 20px 0px;
    
    height: 300px;
    justify-content: center;
    align-items: center;
}
.section-c p{
    color:#1f2937;
    font-size: 36px;
    font-weight: 300;
    width: 100%;
    max-width: 600px;
    
    
    
}